html {
    min-height: 100%;
    max-width: 100%;
    margin: 0;
}

body {
    min-height: 100%;
    margin: 0;
    background: url(https://images.unsplash.com/photo-1497493292307-31c376b6e479?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80) no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Blinker', sans-serif;
}


#content {
    padding: 50px;
}

.container {
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1);
    text-align: center;
    padding: 10px;
}

.socialButtons {
    max-width: 100%;
    height: 100%;
    text-align: center;
}
    

h1 {
    padding: 5px;
    font-size: 50px;
    color:white;
    font-weight: 400;
}

h2 {
    padding: 5px;
    font-size: 25px;
    color:white;
    font-weight: 200;
}

p {
    margin: 5px;
    padding: 10px;
    font-size: 20px;
    color:rgb(255, 255, 255);
    font-weight: 400;
}

hr {
    max-width: 500px;
    margin: 5px auto;
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(180, 180, 180, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

span {
    color: rgb(184, 2, 2);
    font-size: 20px;
    margin: 3px;
}


.author {
    font-size: 1rem;
    color: rgb(150, 0, 0)
}



button {
    text-shadow: 0px 2px 1px rgba(0,0,0,0.4);
    border: none;
    color:rgb(255, 255, 255);
    margin: 5px;
    background: none;
    padding-bottom: 5px;
    transition: 0.3s ease-in-out;
   
}

button:hover {
    transform: scale(1.2);
    text-shadow: 0px 3px 2px  rgba(0,0,0,0.4);
    border-bottom: 1px solid rgb(150, 150, 150);
    
}

button:active {
    color: rgb(180, 0, 0);
}

@media (max-width: 922px) {
   h1 {
       font-size: 1.5rem;
   }

   h2 {
       font-size: 1.2rem;
   }

   p {
       font-size: 1.2rem;
   }
}

@media (max-width: 600px) {
   h1 {
       font-size: 1.2rem;
   }

   h2 {
       font-size: 1rem;
   }

   p,span {
       font-size: 0.9rem;
   }

   .author {
       font-size: 0.7rem;
   }
}




